<form id="search-form" class="flex items-center" action="/articles/search">
  <label for="search-input" class="sr-only">Search</label>
  <div class="relative w-full shadow rounded-lg">            
    <input
      type="text"
      id="query"
      name="query"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
      placeholder="Search Tips & Tricks..."
      required
    />
  </div>
  <button
    type="submit"
    class="p-2.5 ms-2 text-sm font-medium text-white bg-teal-600 rounded-lg border border-teal-700 hover:bg-teal-500 focus:ring-2 focus:outline-none focus:ring-teal-600"
  >
    <svg
      class="size-4"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 20 20"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
      />
    </svg>
    <span class="sr-only">Search</span>
  </button>
</form>